
    
    page-home {

    ion-col{
        border: 1px #000000 solid;
        text-align: center;
    }

    .header {
    
            border: 1px #B20000 solid;
            background: #cdcdcd;
            font-style: italic;
            font-weight: bold;
            text-align: center;
      
    }
}
